<!DOCTYPE html>
<html>
<head>
    <title>School List</title>
</head>
<body>
<h1>School Representatives</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Version</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rep : ${schoolReps}">
        <td th:text="${rep.name}"></td>
        <td th:text="${rep.username}"></td>
        <td th:text="${rep.email}"></td>
        <td th:text="${rep.phone_number}"></td>
        <td th:text="${rep.version}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
